* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: pokemongb;
}
header {
  background: url("./images/2.jpg");
  background-repeat: no-repeat;
  height: 45vh;
  background-size: cover;
  background-position: center;
}
header:before {
  content: "";
  width: 100%;
  height: 45vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(90deg, #1f2937, #111927);
  opacity: 0.8;
}
.container {
  width: 80%;
  margin: auto;
  height: 100%;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title {
  padding: 10px;
  color: #ffcc03;
  font-size: 6.3rem;
  font-family: pokemonsolid;
  text-shadow: -4px 0 #3c5aa6, 0 4px #3c5aa6, 4px 0 #3c5aa6, 0 -4px #3c5aa6;
}
.text {
  color: azure;
  font-size: 1.4rem;
  font-family: pokemonsolid;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.pokecard {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 9px;
  background-color: rgb(165, 7, 7);
  box-shadow: 4px 9px rgb(73, 2, 2);
}
.box {
  width: 30%;
  background-color: rgb(202, 202, 192);
  margin: 10px;
  border-radius: 4px;
  box-shadow: 3px 4px 5px rgb(36, 36, 36);
  display: flex;
  cursor: pointer;
}
.box:hover {
  background-color: rgb(172, 172, 169);
  transform: scale(1.03);
}
.pokemon {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.number {
  font-family: pokemongb;
  font-size: 0.5rem;
  padding: 0.23rem;
}
.name {
  font-family: pokemongb;
  font-size: 0.95rem;
  padding: 0.21rem;
}
.type {
  font-family: pokemongb;
  font-size: 0.6rem;
  padding: 0.21rem;
}
.loading {
  font-family: pokemongb;
  font-size: 1.2rem;
  padding: 0.21rem;
  margin: 10px;
  text-align: center;
  text-indent: 28px;
}
.pikaloader {
  display: block;
  margin: auto;
  padding-top: 1rem;
}
@media screen and (max-width: 1588px) {
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 1450px) {
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 1230px) {
  .box {
    width: 40%;
  }
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 1080px) {
  .box {
    width: 40%;
  }
}
@media screen and (max-width: 860px) {
  .container {
    width: 80%;
  }
  .box {
    width: 60%;
  }
}
@media screen and (max-width: 636px) {
  .title {
    font-size: 4.5rem;
    padding: 5px;
  }
}
@media screen and (max-width: 534px) {
  .text {
    font-size: 15px;
  }
  .container {
    width: 85%;
  }
  .box {
    width: 70%;
  }
  .loading {
    font-size: 15px;
  }
  .pikaloader {
    width: 50%;
    height: 56%;
  }
}
@media screen and (max-width: 444px) {
  .container {
    width: 85%;
  }
  .title {
    padding: 4px;
  }
  .box {
    width: 75%;
  }
  .loading {
    font-size: 14px;
  }
  .pikaloader {
    width: 50%;
    height: 55%;
  }
}
@media screen and (max-width: 416px) {
  .container {
    width: 90%;
  }
  .title {
    padding: 3px;
  }
  .box {
    width: 80%;
  }
}
@media screen and (max-width: 392px) {
  .title {
    font-size: 3.6rem;
  }
  .box {
    width: 80%;
  }
}
@media screen and (max-width: 416px) {
  .text {
    font-size: 13px;
  }
  .box {
    width: 90%;
  }
  .name {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 285px) {
  .title {
    font-size: 3rem;
  }
  .name {
    font-size: 0.7rem;
  }
  .loading {
    font-size: 12px;
  }
  .pikaloader {
    width: 50%;
    height: 55%;
  }
}
@media only screen and (max-height: 420px) and (orientation: landscape) {
  .title {
    font-size: 3.6rem;
  }
  .text {
    font-size: 13px;
  }
  .loading {
    font-size: 12px;
  }
  .pikaloader {
    width: 50%;
    height: 55%;
  }
}
.swal2-title {
  color: black !important;
  font-size: 1.75rem !important;
}
.swal2-btn {
  color: white !important;
  font-family: pokemongb;
  background-color: rgb(165, 7, 7) !important;
  box-shadow: 1px 4px rgb(73, 2, 2) !important;
  border-radius: 3px !important;
}
.swal2-cnt {
  border: 2px black !important;
}
.swal2-popup {
  border-radius: 8px !important;
  box-shadow: 3px 4px 5px rgb(36, 36, 36) !important;
}
.pokedex {
  display: block;
  padding: 10px;
  text-align: center;
  margin: 5px;
  margin-top: 16px;
}
.pokeinput {
  font-family: pokemongb !important;
  background-color: rgb(236, 236, 236);
  height: 27.5px;
  border-radius: 5px;
  padding: 10px;
}
